Plugins/libsubstance_sse2_blend.bundle filter=lfs diff=lfs merge=lfs -text
Plugins/Substance/Arm64/libpfxlinkercommon.a filter=lfs diff=lfs merge=lfs -text
Plugins/Substance/Arm64/libSubstance.Engine.Mobile.so filter=lfs diff=lfs merge=lfs -text
Plugins/Substance/Arm64/libsubstance_framework.a filter=lfs diff=lfs merge=lfs -text
Plugins/Substance/Arm64/libsubstance_neon_blend.a filter=lfs diff=lfs merge=lfs -text
Plugins/Substance/Armv7/libpfxlinkercommon.a filter=lfs diff=lfs merge=lfs -text
Plugins/Substance/Armv7/libSubstance.Engine.Mobile.so filter=lfs diff=lfs merge=lfs -text
Plugins/Substance/Armv7/libsubstance_framework.a filter=lfs diff=lfs merge=lfs -text
Plugins/Substance/Armv7/libsubstance_neon_blend.a filter=lfs diff=lfs merge=lfs -text
Plugins/Substance/iOS/libalgcompression.a filter=lfs diff=lfs merge=lfs -text
Plugins/Substance/iOS/libpfxlinkercommon.a filter=lfs diff=lfs merge=lfs -text
Plugins/Substance/iOS/libSubstance.Engine.a filter=lfs diff=lfs merge=lfs -text
Plugins/Substance/iOS/libsubstance_framework.a filter=lfs diff=lfs merge=lfs -text
Plugins/Substance/iOS/libsubstance_linker.a filter=lfs diff=lfs merge=lfs -text
Plugins/Substance/iOS/libsubstance_neon_blend.a filter=lfs diff=lfs merge=lfs -text
Plugins/Substance/Linux/libSubstance.Engine.so filter=lfs diff=lfs merge=lfs -text
Plugins/Substance/Linux/libsubstance_sse2_blend.so filter=lfs diff=lfs merge=lfs -text
Plugins/Substance/Substance[[:space:]]Source/Editor/libSourceInterfacex64.dylib filter=lfs diff=lfs merge=lfs -text
Plugins/Substance/Substance[[:space:]]Source/Editor/SourceInterfacex64.dll filter=lfs diff=lfs merge=lfs -text
Plugins/Substance.Engine.bundle/Contents/MacOS/Substance.Engine filter=lfs diff=lfs merge=lfs -text
Plugins/Substance.Engine.dll filter=lfs diff=lfs merge=lfs -text
Plugins/substance_sse2_blend.dll filter=lfs diff=lfs merge=lfs -text
